<div class="container">
    <div class="header">
        <img src="/assets/logo.png" width="20%" alt="Green Life Hospital Logo">
        <h1>Welcome </h1>
        <p>sign in to create your account</p>
    </div>
    
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      
      <!-- Username -->
      <div class="form-group">
        <label>Username:</label>
        <input type="text" class="form-control" formControlName="username"  required />
      </div>
  
      <!-- First Name -->
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="userFirstName" required />
      </div>
  
      <!-- Last Name -->
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" formControlName="userLastName" required />
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" formControlName="email" required />
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" formControlName="password" required />
      </div>
  
      <!-- Roles Selection
      <div class="form-group">
        <label>Roles:</label>
        <div class="role-options">
          <label *ngFor="let role of availableRoles">
            <input type="checkbox" [checked]="user.role.has(role)" (change)="toggleRole(role)" />
            {{ role.toUpperCase() }}
          </label>
        </div>
      </div> -->
  
      <!-- Submit Button -->
      <button type="submit" class="btn" style="background-color: rgb(242, 110, 38); color: white;">Register</button>
    </form>

    <div class="footer">
        <p>Already have an account? <a routerLink="../login" class="text-success">Log In</a></p>
    </div>
  </div>