<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar" style="background-color: black;">
        
        <br><h4>Lab Entry Dashboard</h4>
        <br>
        <a routerLink="doctor_dashboard"><i class="fas fa-home"></i> &nbsp; Dashboard</a>
        <a routerLink="appointment"><i class="fa-solid fa-hospital-user"></i> &nbsp; New Patient Entry </a>
        <a routerLink="to_do"><i class="fa-solid fa-list"></i> &nbsp; Entries </a>
        <a routerLink="note"><i class="fas fa-cog"></i> &nbsp; Settings</a>
        <a routerLink="note"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
        
    </div>

    <!-- Main Content -->
    <div class="main-content w-100">
        <!-- Header -->
        <div class="header">
            <h5>Welcome, Dr. Monaum</h5>
            <div class="d-flex align-items-center">
                <span class="me-3">{{date}} | {{time}}</span>
            </div>
        </div>

        <!-- Placeholder for Router Content -->
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
